# FreecodeCamp Challange Demographic_Data_Analyzer

**In this challenge you must analyze demographic data using Pandas. 
You are given a dataset of demographic data that was extracted from the 1994 Census database.**

You must use Pandas to answer the following questions:

In [3]:
import numpy as np
import pandas as pd

**Read Adult.csv as a dataframe called DDA**

In [4]:
DDA = pd.read_csv("adult.data.csv")

In [5]:
DDA.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)**

In [10]:
DDA["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

**What is the average age of men?**

In [14]:
average_age_men = (DDA[DDA['sex'] == 'Male']['age'].mean())
average_age_men

average_age_all= DDA.groupby("sex").agg({"age": np.mean})
average_age_all

              age
sex
Female  36.858230
Male    39.433547

**What is the percentage of people who have a Bachelor's degree?**

In [15]:
bachelorsP = round(100 * DDA['education'].eq('Bachelors').mean(),2)
bachelorsP

16.45

**What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?**

In [66]:
higher_education = DDA[DDA['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education 

Per_highereducation =  round(100 * higher_education['salary'].eq(">50K").mean(),2)
Per_highereducation

46.54

**What percentage of people without advanced education make more than 50K?**

In [67]:
lower_education = DDA[~DDA['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

Per_lowereducation =  round(100 * lower_education['salary'].eq(">50K").mean(),2)
Per_lowereducation

17.37

**What is the minimum number of hours a person works per week?**

In [63]:
min_work_hours = DDA["hours-per-week"].min()
min_work_hours

1

**What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?**

In [65]:
num_min_workers = len(DDA[DDA['hours-per-week'] == min_work_hours])
num_min_workers

20

In [74]:
rich_percentage = round(len(DDA[(DDA['hours-per-week'] == min_work_hours) & (DDA['salary'] == '>50K')] / num_min_workers * 100, 1)
rich_percentage

10.0

**What country has the highest percentage of people that earn >50K and what is that percentage?**

In [85]:
highest_earning_country = (DDA[DDA['salary'] == '>50K']['native-country'].value_counts()/ DDA['native-country'].value_counts() * 100).sort_values(ascending=False).fillna(0).idxmax()
highest_earning_country

'Iran'

In [87]:
highest_earning_country_percentage = round(len(DDA[(DDA['native-country'] == highest_earning_country) & (DDA['salary'] == '>50K')]) / len(DDA[(DDA['native-country'] == highest_earning_country)])*100,1)
highest_earning_country_percentage

41.9

**Identify the most popular occupation for those who earn >50K in India**

In [91]:
india_occupation = DDA[(DDA['salary'] == ">50K") & (DDA['native-country'] == "India")]["occupation"].value_counts().index[0]
india_occupation

'Prof-specialty'